In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import psycopg2
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [12]:
#connect to pgadmin database

#https://blog.panoply.io/connecting-jupyter-notebook-with-postgresql-for-python-data-analysis

addy = "localhost"
port = "5432"
username = "postgres"
pswd = "insert password here"
dbname = "insert dbname here"

#string that contains the postgres login info
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
    .format(username=username,
    password= pswd,
    ipaddress=addy,
    port=port,
    dbname=dbname))

#connection
connection = create_engine(postgres_str)

In [15]:
#loading data to pandas dataframe


#we'll use the table with all our modeling info
df = pd.read_sql_query('''SELECT * FROM <insert table name here> ;''', connection)
df.head()

   resultId  raceId  driverId  constructorId
0         1      18         1              1
1         2      18         2              2
2         3      18         3              3
3         4      18         4              4
4         5      18         5              1

In [ ]:
#data cleanup/prep

In [ ]:
#split data into training and testing

# Create our features
X = df.drop(columns = '')
X = pd.get_dummies(X)

# Create our target
y = df.loc[:, target].copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
#balanced random forest classifers
from imblearn.ensemble import BalancedRandomForestClassifier
brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix
y_pred = brfc.predict(X_test)


from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

In [ ]:
#confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
#EasyEnsembleClassifier

from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:

# Display the confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:

# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))