In [16]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('D:\Prof_Dev\Git\Formula_1_Sim\Resources\qualifying.csv')

In [3]:
df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,01:26.6,01:25.2,01:26.7
1,2,18,9,2,4,2,01:26.1,01:25.3,01:26.9
2,3,18,5,1,23,3,01:25.7,01:25.5,01:27.1
3,4,18,13,6,2,4,01:26.0,01:25.7,01:27.2
4,5,18,2,2,3,5,01:26.0,01:25.5,01:27.2

In [5]:
df.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [15]:
type(df['q1'][0])

str

In [ ]:
#clean_df['q1'] = clean_df['q1'].astype(str)
#clean_df['q2'] = clean_df['q2'].astype(int)
#clean_df['q3'] = clean_df['q3'].astype(int)

#r'(\d{2}:\d{2}:\d{2})')

#clean_df['q1'].str.replace(r'(\d{2}:\d{2}:\d{2})'),'lol')

In [23]:
problem_detector = re.compile(r':.*:')

In [27]:
problem_detector.search('01:26.6')

In [41]:
#df['q1'].appy(lambda x : bool(problem_detector.search(x)))

df.loc[21]

qualifyId             22
raceId                18
driverId              19
constructorId          8
number                19
position              22
q1               01:29.1
q2                    \N
q3                    \N
Name: 21, dtype: object